@import "_var";

/*---------------------

TABLE OF CONTENTS

1. Header
2. Nav
3. Content
4. Footer
5. Mobile

----------------------*/

body {
    font-family: 'Chonburi', display;
}

// Header------------------------------

header {

    background-color: black;

    h1 {
        font-size: 40px;
        color: white;
        text-shadow: 2px 2px 2px red;
    }
}

// Nav---------------------------------

nav {

    background-image: $hf-bg;

    ul {

        li {
            
            a:hover {
                background-color: yellow;
            }
        }
    } 
}

// Content--------------------------------

main {

    background-color: rgba(gray, 20%);
    color: white;

    h2 {
        margin-top: 10px;
        text-transform: capitalize;
        text-decoration: underline;
        font-size: 35px;
    }
}

// Footer------------------------------------

footer {

    background-image: $hf-bg;

    a {
        text-decoration: none;
        margin-top: 10px;
        margin-left: 15px;
    }

    p {
        margin-left: auto;
        margin-top: 10px;
        margin-right: 15px;
    }
}

// Mobile-----------------------------------